<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Blog Mourad | <%= title %> </title>
    <link rel="stylesheet" type="text/css"  href="/mystyle.css">
    <!-- <style> or put code here </style> -->

</head>   